.main {
  background-color: beige;
  height: 80%; 
  width: 80%;
}

.row {
  position: relative;
  width: 100%;
  height: 10%;
  background-color: bisque;
}


.column {
  position: relative;
  display: inline-block;
  width: 10%;
  color: purple;
}