.main {
  background-color: lightskyblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 50%;
  margin : 0 auto;
}

.bookend {
  color: blue;
  font-size: 80px;
  /* margin: auto; */
}

.part_of_arr {
  font-size: 40px;
  margin: auto;
}

.inside_of_array {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.inside_of_array p {
  color: blueviolet;
}

#current {
  color: red;
}

.interaction {
  display: flex;
  align-items: center;
  background: cornflowerblue;
  width: 50%;
  margin : 0 auto;
  position: relative;
  height: 5em;
}

button {
  vertical-align: top;
  margin: auto auto;
  background-color: rgb(31, 48, 199);
  padding : 20px;
  color: palevioletred;

}